body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    margin: 0px;
    background-color: #dddbf1;
}

button {
    background-color: #3C4F76;
    border: 2px solid #dddbf1;
    border-radius: 12px;
    font-weight: bold;
    font-size: 24px;
    color: #dddbf1;
    padding: 10px;
}

/*Styling of both columns*/

.leftColumn,
.rightColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #3C4F76;
}

/*Styling of the center column*/

.gridColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.row {
    display: flex;
}

.hovered {
    background-color: #383f51;
}

/*
.opacity100 {
    opacity: 1;
}

.opacity90 {
    opacity: 0.9;
}

.opacity80 {
    opacity: 0.8;
}

.opacity70 {
    opacity: 0.7;
}

.opacity60 {
    opacity: 0.6;
}

.opacity50 {
    opacity: 0.5;
}

.opacity40 {
    opacity: 0.4;
}

.opacity30 {
    opacity: 0.3;
}

.opacity20 {
    opacity: 0.2;
}

.opacity10 {
    opacity: 0.1;
}

*/