body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    margin: 0px;
    background-color: #dddbf1;
}

button {
    background-color: #3C4F76;
    border: 2px solid #dddbf1;
    border-radius: 12px;
    font-weight: bold;
    font-size: 24px;
    color: #dddbf1;
    padding: 10px;
}

/*Styling of both columns*/

.leftColumn,
.rightColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #3C4F76;
}

/*Styling of the center column*/

.gridColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.row {
    display: flex;
}

.hovered {
    background-color: #383f51;
}